<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="startup.carvaan.myapplication">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/vsm_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/vsm_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:node="merge">
        <activity android:name=".ui.coins.aboutRci"></activity>
        <activity android:name=".ChartActivity" />
        <activity android:name=".chartActivity" />
        <activity
            android:name=".Helppage"
            android:label="@string/title_activity_helppage"
            android:theme="@style/Theme.MyApplication.NoActionBar" />
        <activity android:name=".ui.NewActivity" />
        <activity android:name=".ui.start.IntroSliderActivity" />
        <activity android:name=".ui.login.ForgotPassActivity" />
        <activity android:name=".Addactivity" />
        <activity android:name=".ui.payment.paymentActivity" />
        <activity android:name=".ui.about.AboutShare" />
        <activity
            android:name=".ui.mainActivity.MainActivity"
            android:label="@string/title_activity_main" />
        <activity
            android:name=".ui.start.SplashScreen"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.login.LoginActivity" />
        <activity android:name=".ui.login.RegisterActivity" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-1372656325166770~1018059934" />
    </application>

</manifest>